.more-info-window{
  background-color: white;
  width: 380px;
  border-radius: 15px;

  margin-bottom: 30px;
  box-sizing: border-box;
  padding-left: 18px;
  padding-right: 18px;
  padding-top: 14px;
  padding-bottom: 30px;
  min-height: 300px;
  
}

.more-info-window-container{
  height: fit-content;
  overflow: auto;
  position: absolute;
  
  background-color: transparent;

  top: 70px;
  left: 350px;
  margin-left: 20px;
  
}

.more-info-window h1{
  font-size: 30px;
  font-weight: 500;
  color: #2f2f2f;
  margin-bottom: 8px;
}

.main-image{
  width: 180px;
}
.example-image{
  flex:1;
  height: 100%;
}
.image-carousel{
  display: flex;
  flex-direction: row;
  height: 130px;

}

.button-container{
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
  flex-wrap: wrap;
  gap: 15px;

}

.more-info-container p{
  line-height: 1.8;
  font-size: 14px;
  color: #5e5e5e;
}

.more-info-container strong{
  font-weight: 600;
}

.basic-button{
  padding: 6px 10px;
  background-color: transparent;
  border: solid;
  border-color: #5e5e5e;
  border-width: 1px;
  color: #5e5e5e;
  border-radius: 20px;
}

.basic-button:hover{
  color: #0d7af6;
  border-color: #0d7af6;
}

.more-info-window-container .close-button{
  position: absolute;
  right: 5px;
  top: 5px
}