.search-bar{
  width: 100%;
  height: fit-content;

  height: 50px;

  background-color: #e9ecef;

  display: flex;
  align-items: center;
}

.search-box{
  margin-left: 8px;
  margin-right: 8px;
  
  width: 290px;
  height: 34px;
  display: flex;
  
  border-radius: 6px;
}

.search-input{
  
  height: 100%;
  padding: 0px;
  border: none;
  flex: 1;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}

.search-button{
  height: 100%;

  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}

.direction-button{
  
  height: 34px;
  
  border-radius: 6px;
  
}

.search-bar button{
  border: none;
  cursor: pointer;
  background-color: rgb(92, 122, 255);
  color: white;
  width: 34px;

}
.search-bar button:hover {
  background-color: rgb(64, 93, 219);
}

